*,
::before,
::after {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background: rgb(0, 0, 46);
}

#drum-machine {
    background-color: rgb(67, 67, 112);
    padding: 1rem;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 9px; */
    margin-top: 9px;
    margin: 0 auto 1rem;
}

.drum-pad {
    height: 55px;
    background: rgb(138, 138, 138);
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

#display {
    display: flex;
    height: 3rem;
    background: rgb(69, 69, 69);
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}