*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 46);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#drum-machine {
    background-color: rgb(67, 67, 112);
    padding: 1rem;
    width: 300px;
    border-radius: 5px;
}

#pad-bank {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    margin-bottom: 1rem;
}

.drum-pad {
    height: 75px;
    background: rgb(138, 138, 138);
    font-size: 2rem;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#display {
    display: flex;
    height: 3rem;
    background: rgb(69, 69, 69);
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}